In [6]:
import tabulate
student={
    "1":{
        "stdid":"sid101",
        "sidname":"Ashish Kumar",
        "standard":"10th",
        "Age":15,
        "Hindi":67,
        "English":89,
        "Maths":87,
        "Science":89,
        "Computer":90,
        "Total":422
    },
     "2":{
         "stdid":"sid102",
        "sidname":"Abhishek Kumar",
        "standard":"10th",
        "Age":14,
        "Hindi":85,
        "English":45,
        "Maths":48,
        "Science":90,
        "Computer":45,
        "Total":313
    }, 
    "3":{
        "stdid":"sid103",
        "sidname":"Aman",
        "standard":"10th",
        "Age":15,
        "Hindi":23,
        "English":56,
        "Maths":78,
        "Science":78,
        "Computer":67,
        "Total":302
    }, 
    "4":{
        "stdid":"sid104",
        "sidname":"Rahul",
        "standard":"10th",
        "Age":14,
        "Hindi":45,
        "English":67,
        "Maths":45,
        "Science":45,
        "Computer":56,
        "Total":258
    },  
    "5":{
        "stdid":"sid105",
        "sidname":"Ruby",
        "standard":"10th",
        "Age":13,
        "Hindi":89,
        "English":67,
        "Maths":89,
        "Science":93,
        "Computer":65,
        "Total":403
    }, 
      "6":{
          "stdid":"sid106",
        "sidname":"Suman",
        "standard":"10th",
        "Age":13,
        "Hindi":90,
        "English":46,
        "Maths":67,
        "Science":67,
        "Computer":67,
        "Total":337
    }, 
    "7":{
        "stdid":"sid107",
        "sidname":"Surabh",
        "standard":"10th",
        "Age":15,
        "Hindi":45,
        "English":23,
        "Maths":34,
        "Science":45,
        "Computer":34,
        "Total":181
    },
    "8":{
        "stdid":"sid108",
        "sidname":"Sumit",
        "standard":"10th",
        "Age":14,
        "Hindi":23,
        "English":45,
        "Maths":67,
        "Science":78,
        "Computer":90,
        "Total":303
    }, 
    "9":{
        "stdid":"sid109",
        "sidname":"Kamlesh",
        "standard":"10th",
        "Age":15,
        "Hindi":45,
        "English":56,
        "Maths":78,
        "Science":99,
        "Computer":67,
        "Total":345
    }, 
    "10":{
        "stdid":"sid110",
        "sidname":"Rohan",
        "standard":"10th",
        "Age":15,
        "Hindi":34,
        "English":12,
        "Maths":24,
        "Science":45,
        "Computer":56,
        "Total":171
    }
}
keys=list(student.keys())
values=list(student.values())

table_data=[]
for value in values:
    row=[value["stdid"],value["sidname"],value["standard"],value["Age"],value["Hindi"],value["English"],value["Maths"],value["Science"],value["Computer"],value["Total"]]
    table_data.append(row)

print(tabulate.tabulate(table_data,headers=["Stdid","Name","Standard","Age","Hindi","English","Maths","Science","Computer","Total"]))

Stdid    Name            Standard      Age    Hindi    English    Maths    Science    Computer    Total
-------  --------------  ----------  -----  -------  ---------  -------  ---------  ----------  -------
sid101   Ashish Kumar    10th           15       67         89       87         89          90      422
sid102   Abhishek Kumar  10th           14       85         45       48         90          45      313
sid103   Aman            10th           15       23         56       78         78          67      302
sid104   Rahul           10th           14       45         67       45         45          56      258
sid105   Ruby            10th           13       89         67       89         93          65      403
sid106   Suman           10th           13       90         46       67         67          67      337
sid107   Surabh          10th           15       45         23       34         45          34      181
sid108   Sumit           10th           14       23         45       67         78          90      303
sid109   Kamlesh         10th           15       45         56       78         99          67      345
sid110   Rohan           10th           15       34         12       24         45          56      171